.iconSelectCard {
    display: inline-block;
    margin-bottom: 15px;
}

.iconSelectIcon {
    max-width: 50px;
}

.iconSelectCard h3 {
    margin-top: 4px;
    font-size: 1em;
}

.iconSelectDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}