.hamburgerDiv {
    background: none !important;
    grid-column: 4;
}

.menuText {
    font-size: .8em;
}

.hamburger {
    justify-self: center;
    align-self: center !important;
    width: 30px;
}