.hamburgerDiv {
    background: none !important;
    grid-column: 4;
    border: none !important;
    padding: 0 !important;
}

.menuText {
    font-size: .8em;
}

.hamburger {
    justify-self: center;
    align-self: center !important;
    width: 30px;

}

.hamburgerMenu {
    max-width: 40px;
    margin: 5px;
    
}