.profilePic {
    border-radius: 50%;
    border: 2px solid white;
    max-width: 80px;
}

.welcomeHeading h1, .welcomeHeading h2 {
    color: white !important;
}

.pastEntriesBtn, .createEntryBtn {
    display: block !important;
    margin: 20px auto;
}

