.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.logo {
    grid-column: 1;
    align-self: center;
    justify-self: start;
    max-height: 30px;
}

.btn-group {
    grid-column: 2;
    align-self: center;
    justify-self: end;
    max-height: 50px;
}