.footerDiv {
    border-top: 1px solid white;
    padding-top: 7px;
    display: grid;
    grid-template-columns: 1fr 40px 90px;
    grid-template-rows: 1fr 1fr;
}

.copyright {
    display: block;
    grid-row: 2;
    grid-column: 1 /span 3;
    font-size: .7em;
    justify-self: center;
    align-self: center;
}

.nextBtn, .editBtn, .backBtn {
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    /* display: inline; */

}

.nextBtn:hover, .editBtn:hover, .backBtn:hover {
    /* color: #FEDF69; */
    border: 1px solid #FEDF69;
}

.editBtnLink, {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: end;
}

.nextBtnLink {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    align-self: end;
}

.backBtn {
    grid-column: 1;
    grid-row: 1;
    justify-self: start !important;
    /* display: inline; */
    align-self: start !important;
}


