.footerDiv {
    padding: 7px 15px 5px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;

}

.nextBtn, .editBtn, .backBtn {
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.nextBtn:hover, .editBtn:hover, .backBtn:hover {
    /* color: #FEDF69; */
    border: 1px solid #FEDF69;
}

.editBtnLink, {
    float: left;
    grid-column: 1;
    justify-self: start !important;
    align-self: start !important;
    margin-left: 20px;
}

.editBtn {
    width: 60px;
}

.nextBtnLink {
    grid-column: 2;
    justify-self: end !important;
    align-self: end !important;
}

/* .backBtn {
    
    justify-self: start !important;
    align-self: start !important;
} */



